<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>document</title>
        <link rel="stylesheet" href="../layout/footer.css">
    </head>
    <body>
        <footer>
            <a href="https://linktr.ee/equipe_sigma06" target="_parent"><img src="../assets/imagens/linktr.ee.webp"  width="40" height="40"></a>
            <nav>
                <ul>
                    <li><a class="fim" href="#"> Sigma 2023 - Todos os direitos reservados - Proteção de dados</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>