<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sigma Burguer</title>
        <link rel="stylesheet" href="header.css">
    </head>
    <body>
        <header>
            <img src="../assets/imagens/burguer.png" alt="logo" width="120" height="120">
            <nav>
                <ul>
                    <li id="desafio"><a class="sigma" href=#>Menu</a></li>
                    <li><a class="sigma" href=#>Sobre</a></li>
                    <li><a class="sigma" href="#">Contato</a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>