#h1-text {
    text-align: center;
    color: white;
    
}

#p-brasil {
    font-size: 20px;
    color: white;
    font-family: cursive;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-color: rgb(50, 16, 16);
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
   
}

.section-cardapio {
    display: flex;
    margin-top: 30px;
    border: outset;
}

.section-promo {
    display: flex;
    color: rgb(255, 255, 255);
}



.div-cardapio {
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    text-align: center;
    border-radius: 7px;
    border-left: 7px solid red;
}

p {
    text-align: justify;
    margin: 10px;
    
}

.article-promo {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-left: 12px solid red;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.hamburguer {
    background-color: red;
    color: black;
    font-size: 20px;
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 8px;
    border-style: double;
    border-color: black;
}

#menu {
    display: flex;
}

#menu2 {
    display: flex;
}

#menu3 {
    display: flex;
}

#especialdodia {
    background-color: red;
    color: black;
    font-size: 20px;
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 8px;
    border-style: double;
    border-color: black
}

#p-promo {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

#h2-promo {
    color: rgb(61, 30, 30);
    font-family: cursive;
    text-align: left;
    color: black;

}

#titulo {
    text-align: center;
}

.img-lanches {
    width: 150px;
    height: 120px;
   
    text-align: left;
}

#iframeFooter {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: -5px;
}