form{
    background-color: rgb(237, 105, 105);
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 10;
}
input{
    padding: 5px;
    border-color: black;
  
}
body{
    background-color: rgb(88,42,23);;
    text-align: center;
}
form{
    background-color: rgb(88,42,23);
    
}
h2{
    color: rgb(230,232,198);
}
h1{
    color: rgb(230,232,198);
}

